In [115]:
# Dependencies
import gmaps
import requests
import json
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

# Google developer API key
from api_keys import api_key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

# REFERENCE LINK FOR COLUMN DEFINITION
# https://www.fema.gov/openfema-dataset-individual-assistance-housing-registrants-large-disasters-v1


print("FEMA DataSet : Individual Assistance Housing Registrants Large Disasters")
# FEMA Data | KINGWOOD Repair Amount > 25000 | 422 rows
url_houston = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27HOUSTON%27%20and%20repairAmount%20gt%2025000"
url_humble = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27HUMBLE%27%20and%20repairAmount%20gt%2025000"
url_katy = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27KATY%27%20and%20repairAmount%20gt%2025000"
url_kingwood = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27KINGWOOD%27%20and%20repairAmount%20gt%2025000"
url_pearland = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27PEARLAND%27%20and%20repairAmount%20gt%2025000"
url_spring = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27SPRING%27%20and%20repairAmount%20gt%2025000"

url_spring1 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777373%27%20and%20repairAmount%20gt%2025000"
url_spring2 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777389%27%20and%20repairAmount%20gt%2025000"
url_spring3 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777388%27%20and%20repairAmount%20gt%2025000"
url_spring4 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777379%27%20and%20repairAmount%20gt%2025000"
url_spring5 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777386%27%20and%20repairAmount%20gt%2025000"

url_sugarland1 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777478%27%20and%20repairAmount%20gt%2025000"
url_sugarland2 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777479%27%20and%20repairAmount%20gt%2025000"
url_sugarland3 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777487%27%20and%20repairAmount%20gt%2025000"
url_sugarland4 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777496%27%20and%20repairAmount%20gt%2025000"
url_sugarland5 = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedZipCode%20eq%20%2777498%27%20and%20repairAmount%20gt%2025000"

url_woodlands = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27THE%20WOODLANDS%27%20and%20repairAmount%20gt%2025000"
url_friendswoods = "https://www.fema.gov/api/open/v1/IndividualAssistanceHousingRegistrantsLargeDisasters?$filter=damagedStateAbbreviation%20eq%20%27TX%27%20and%20damagedCity%20eq%20%27FRIENDSWOOD%27%20and%20repairAmount%20gt%2025000"

print(" ")
print("Calling APIs...")

houston = requests.get(url_houston).json()
humble = requests.get(url_humble).json()
katy = requests.get(url_katy).json()
kingwood = requests.get(url_kingwood).json()
pearland = requests.get(url_pearland).json()

#spring1 = requests.get(url_spring1).json()
#spring2 = requests.get(url_spring2).json()
#spring3 = requests.get(url_spring3).json()
#spring4 = requests.get(url_spring2).json()
#spring5 = requests.get(url_spring3).json()

sugarland1 = requests.get(url_sugarland1).json()
sugarland2 = requests.get(url_sugarland2).json()
sugarland3 = requests.get(url_sugarland3).json()
sugarland4 = requests.get(url_sugarland2).json()
sugarland5 = requests.get(url_sugarland3).json()



#sugarland = requests.get(url_sugarland).json()
woodlands = requests.get(url_woodlands).json()
friendswood = requests.get(url_friendswoods).json()

print(" ")
print("Creating DataFrames & Populating DataFrames")

df_houston = pd.DataFrame(houston["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_humble = pd.DataFrame(humble["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_katy = pd.DataFrame(katy["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_kingwood = pd.DataFrame(kingwood["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_pearland = pd.DataFrame(pearland["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_spring1 = pd.DataFrame(spring1["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_spring2 = pd.DataFrame(spring2["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_spring3 = pd.DataFrame(spring3["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_spring4 = pd.DataFrame(spring2["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_spring5 = pd.DataFrame(spring3["IndividualAssistanceHousingRegistrantsLargeDisasters"])

df_sugarland1 = pd.DataFrame(sugarland1["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_sugarland2 = pd.DataFrame(sugarland2["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_sugarland3 = pd.DataFrame(sugarland3["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_sugarland4 = pd.DataFrame(sugarland2["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_sugarland5 = pd.DataFrame(sugarland3["IndividualAssistanceHousingRegistrantsLargeDisasters"])
#df_sugarland = pd.DataFrame(sugarland["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_woodlands = pd.DataFrame(woodlands["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_friendswood = pd.DataFrame(friendswood["IndividualAssistanceHousingRegistrantsLargeDisasters"])

# Consolidate FEMA CITY NAME that won't pull by damageCity
df_spring = pd.DataFrame(spring["IndividualAssistanceHousingRegistrantsLargeDisasters"])
df_sugarland = pd.concat([df_sugarland1, df_sugarland2, df_sugarland3, df_sugarland4, df_sugarland5])

print(" ")
print("FEMA DataSet : Individual Assistance Housing Registrants Large Disasters | Repair Amount > 25000")
print("Repair Amount > 25000 for the cities of: Houston, Humble, Katy, Pearland, Spring, Sugarland, The Woodlands & Friendswood.")
print("Data Ready...")

FEMA DataSet : Individual Assistance Housing Registrants Large Disasters

Calling APIs...

Creating DataFrames & Populating DataFrames

FEMA DataSet : Individual Assistance Housing Registrants Large Disasters | Repair Amount > 25000
Repair Amount > 25000 for the cities of: Houston, Humble, Katy, Pearland, Spring, Sugarland The Woodlands & Friendswood.
Data Ready...

In [127]:
#df_data = pd.DataFrame(columns=['Houston', 'Humble', 'Katy', 'Kingwood', 'Pearland', 'Sugarland', 'Woodlands', 'Friendswood'])
#df_repairAmount = pd.DataFrame(columns=['Area','Claim Count > $25000.00', 'FEMA | Real Property Damage > $25000.00'])
df_repairAmount = pd.DataFrame(columns=['Area','Repair Amount Claim Count > $25000.00', 'Repair Amount > $25000.00'])

# repairAmount :
df_repairAmount["Area"] = ['Houston', 'Humble', 'Katy', 'Kingwood', 'Pearland','Spring', 'Sugarland', 'The Woodlands','Friendswood']
df_repairAmount["Claim Count > $25000.00"] = [df_houston['repairAmount'].count(), df_humble['repairAmount'].count(), df_katy['repairAmount'].count(), df_kingwood['repairAmount'].count(), df_pearland['repairAmount'].count(), df_spring['repairAmount'].count(), df_sugarland['repairAmount'].count(),  df_woodlands['repairAmount'].count(), df_friendswood['repairAmount'].count()]
df_repairAmount["FEMA | Real Property Damage > $25000.00"] = [df_houston['repairAmount'].sum(), df_humble['repairAmount'].sum(), df_katy['repairAmount'].sum(), df_kingwood['repairAmount'].sum(), df_pearland['repairAmount'].sum(), df_spring['repairAmount'].sum(), df_sugarland['repairAmount'].sum(), df_woodlands['repairAmount'].sum(), df_friendswood['repairAmount'].sum()]

df_repairAmount

,Area,Claim Count > $25000.00,FEMA | Real Property Damage > $25000.00
0,Houston,1000,27837777.20
1,Humble,208,6147811.57
2,Katy,261,7409494.68
3,Kingwood,422,12596717.61
4,Pearland,32,911365.64
5,Spring,119,3494884.42
6,Sugarland,42,1168464.38
7,The Woodlands,3,90690.39
8,Friendswood,127,3660969.63

In [ ]:
#df_data = pd.DataFrame(columns=['Houston', 'Humble', 'Katy', 'Kingwood', 'Pearland', 'Sugarland', 'Woodlands', 'Friendswood'])
df_data = pd.DataFrame(columns=['Area','Claim Count > $25000.00', 'FEMA | Real Property Damage > $25000.00'])

# RPFVL : Real property damage amount observed by FEMA
df_data["Area"] = ['Houston', 'Humble', 'Katy', 'Kingwood', 'Pearland','Spring', 'Sugarland', 'The Woodlands','Friendswood']
df_data["Claim Count > $25000.00"] = [df_houston['rpfvl'].count(), df_humble['rpfvl'].count(), df_katy['rpfvl'].count(), df_kingwood['rpfvl'].count(), df_pearland['rpfvl'].count(), df_spring['rpfvl'].count(), df_sugarland['rpfvl'].count(),  df_woodlands['rpfvl'].count(), df_friendswood['rpfvl'].count()]
df_data["FEMA | Real Property Damage > $25000.00"] = [df_houston['rpfvl'].sum(), df_humble['rpfvl'].sum(), df_katy['rpfvl'].sum(), df_kingwood['rpfvl'].sum(), df_pearland['rpfvl'].sum(), df_spring['rpfvl'].sum(), df_sugarland['rpfvl'].sum(), df_woodlands['rpfvl'].sum(), df_friendswood['rpfvl'].sum()]

df_data2

In [117]:
# Import Zipcodes
df_zipcodes = pd.DataFrame(columns=['Zipcode','Lattitude','Longitude'])
df_zipcodes = pd.read_csv('zipcodes.csv')

In [118]:
# count the unique weighted zipcodes only unique zipcode.
sr_houston_count = df_houston.groupby('damagedZipCode')['rpfvl'].count()
sr_humble_count = df_humble.groupby('damagedZipCode')['rpfvl'].count()
sr_katy_count = df_katy.groupby('damagedZipCode')['rpfvl'].count()
sr_kingwood_count = df_kingwood.groupby('damagedZipCode')['rpfvl'].count()
sr_pearland_count = df_pearland.groupby('damagedZipCode')['rpfvl'].count()
sr_spring_count = df_spring.groupby('damagedZipCode')['rpfvl'].count()
sr_sugarland_count = df_sugarland.groupby('damagedZipCode')['rpfvl'].count()
sr_woodlands_count = df_woodlands.groupby('damagedZipCode')['rpfvl'].count()
sr_friendswood_count = df_friendswood.groupby('damagedZipCode')['rpfvl'].count()

damagedZipCode
77546    127
Name: rpfvl, dtype: int64

In [ ]:
# https://www.youtube.com/watch?v=wiw9Qo08TIk

# Create a dictionary
dict_countedZipcodes = {'damangedZipcode': ,'count':}

In [ ]:
df.merge(s.to_frame(), left_index=True, right_index=True)

In [ ]:
sr_houston_count

In [97]:
export_csv = sr_houston_count.to_csv ("sr_houston_count.csv", encoding='utf-8', index=False, header=True)

In [98]:
sr_houston_count

damagedZipCode
77004      1
77005      1
77007      1
77008      1
77012      3
77013     12
77015     13
77016      4
77017      3
77019      1
77020      4
77021      4
77023      1
77024     57
77025     13
77026      3
77027      1
77028     31
77029      2
77030      1
77032      4
77033      4
77034      4
77035      7
77037      5
77038      2
77039      8
77041     44
77042     41
77043      2
        ...
77057      7
77059      1
77060      1
77061      1
77062      1
77063     11
77065      6
77066      2
77068     19
77069     11
77070     23
77071      2
77073     15
77074      6
77075      8
77076      1
77077     32
77078     49
77079    209
77084    134
77085      1
77088      1
77089     17
77090     38
77091      3
77093      2
77094      7
77095      2
77096     16
77345      1
Name: rpfvl, Length: 66, dtype: int64

In [124]:
# Create aiport dataframe
compiledDamagedZipCodes_df = pd.DataFrame(columns=['damagedZipCode','count', 'lattitude','longitude'])
compiledDamagedZipCodes_df = pd.read_csv('compiledDamagedZipCodes.csv')


# Store latitude and longitude in locations
locations = compiledDamagedZipCodes_df[["lattitude", "longitude"]]

# Fill NaN values and convert to float
rating = compiledDamagedZipCodes_df["count"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating/1, 
                                 dissipating=False, max_intensity=250,
                                 point_radius=100)


# Add layer
fig.add_layer(heat_layer)

#markers = gmaps.marker_layer(locations)
# Add the layer to the map
#fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
airport_df

    damagedZipCode  lattitude  longitude  Count
0            77004  29.724893 -95.363752      1
1            77005  29.718435 -95.423555      1
2            77007  29.771545 -95.411083      1
3            77008  29.798249 -95.416933      1
4            77012  29.718525 -95.274137      3
5            77013  29.795268 -95.233977     12
6            77015  29.763930 -95.173121     13
7            77016  29.862532 -95.299980      4
8            77017  29.689824 -95.252393      3
9            77019  29.754150 -95.409498      1
10           77020  29.773179 -95.314327      4
11           77021  29.698430 -95.356900      4
12           77023  29.721825 -95.318275      1
13           77024  29.772179 -95.514203     57
14           77025  29.685706 -95.434764     13
15           77026  29.800187 -95.328888      3
16           77027  29.740079 -95.446409      1
17           77028  29.827869 -95.287485     31
18           77029  29.759665 -95.256251      2
19           77030  29.706787 -95.401748      1
20           77032  29.987805 -95.353412      4
21           77033  29.666880 -95.335133      4
22           77034  29.619510 -95.191644      4
23           77035  29.655503 -95.471663      7
24           77037  29.890360 -95.392527      5
25           77038  29.918595 -95.441194      2
26           77039  29.911171 -95.341182      8
27           77041  29.858600 -95.580768     44
28           77042  29.741325 -95.560254     41
29           77043  29.810930 -95.584639      2
..             ...        ...        ...    ...
43           77074  29.687947 -95.515725      6
44           77075  29.620420 -95.268939      8
45           77076  29.860021 -95.382184      1
46           77077  29.750233 -95.615383     32
47           77078  29.852397 -95.254100     49
48           77079  29.776093 -95.603037    209
49           77084  29.827486 -95.659920    134
50           77085  29.620509 -95.485333      1
51           77088  29.881487 -95.452619      1
52           77089  29.586959 -95.225601     17
53           77090  30.008240 -95.438996     38
54           77091  29.853067 -95.435966      3
55           77093  29.863400 -95.341409      2
56           77094  29.769285 -95.681292      7
57           77095  29.909513 -95.651476      2
58           77096  29.675339 -95.479372     16
59           77345  30.053105 -95.157943      1
60           77338  30.017301 -95.286217    147
61           77339  30.046777 -95.221022      5
62           77346  29.994499 -95.177499     47
63           77396  29.945205 -95.259778      9
64           77450  29.745247 -95.741783    249
65           77493  29.853215 -95.831456      7
66           77494  29.740677 -95.829652      5
67           77339  30.046777 -95.221022    211
68           77345  30.053105 -95.157943    206
69           77346  29.994499 -95.177499      5
70           77581  29.561554 -95.279739     29
71           77584  29.545041 -95.350629      2
72           77546  29.515074 -95.192133    127

[73 rows x 4 columns]

In [10]:
df_zipcodes

       damagedZipCode  lattitude   longitude
0                 601  18.180555  -66.749961
1                 602  18.361945  -67.175597
2                 603  18.455183  -67.119887
3                 606  18.158345  -66.932911
4                 610  18.295366  -67.125135
5                 612  18.402253  -66.711397
6                 616  18.420412  -66.671979
7                 617  18.445147  -66.559696
8                 622  17.991245  -67.153993
9                 623  18.083361  -67.153897
10                624  18.064919  -66.716683
11                627  18.412600  -66.863926
12                631  18.190607  -66.832041
13                637  18.076713  -66.947389
14                638  18.295913  -66.515588
15                641  18.263085  -66.712985
16                646  18.433150  -66.285875
17                647  17.963613  -66.947127
18                650  18.349416  -66.578079
19                652  18.448452  -66.594127
20                653  17.985033  -66.886536
21                656  18.053539  -66.792931
22                659  18.407226  -66.808999
23                660  18.134695  -67.116199
24                662  18.468320  -67.015781
25                664  18.210330  -66.591616
26                667  18.003422  -67.035810
27                669  18.277102  -66.869645
28                670  18.240187  -66.988776
29                674  18.422908  -66.489337
...               ...        ...         ...
33114           99786  67.167563 -156.338137
33115           99788  66.646856 -143.788895
33116           99789  70.001750 -151.934657
33117           99790  65.390183 -148.326543
33118           99791  70.468398 -156.795478
33119           99801  58.372910 -134.178445
33120           99820  57.436465 -134.227340
33121           99824  58.265381 -134.400144
33122           99825  58.159987 -135.736378
33123           99826  58.710141 -136.736651
33124           99827  59.098771 -135.576936
33125           99829  58.104265 -135.399841
33126           99830  56.771079 -134.089981
33127           99832  58.015478 -136.166143
33128           99833  56.926675 -133.120372
33129           99835  57.000402 -135.076713
33130           99836  56.235218 -134.653499
33131           99840  59.575097 -135.335418
33132           99841  57.794300 -135.184384
33133           99901  55.540405 -131.105347
33134           99903  55.818431 -132.065800
33135           99918  55.916873 -132.695503
33136           99919  55.645594 -132.496820
33137           99921  55.407033 -132.766235
33138           99922  55.307528 -133.046815
33139           99923  56.002315 -130.041026
33140           99925  55.550204 -132.945933
33141           99926  55.138352 -131.470424
33142           99927  56.239062 -133.457924
33143           99929  56.370751 -131.693301

[33144 rows x 3 columns]

In [13]:
sr_friendswood_count

damagedZipCode
77546    127
Name: rpfvl, dtype: int64

In [14]:
type(sr_friendswood_count)

pandas.core.series.Series

In [32]:
airport_df2

    damagedZipCode  Count  lattitude  longitude
0            77450    249  29.745247  95.741783
1            77339    211  30.046777  95.221022
2            77079    209  29.776093  95.603037
3            77345    206  30.053105  95.157943
4            77338    147  30.017301  95.286217
5            77084    134  29.827486  95.659920
6            77546    127  29.515074  95.192133
7            77024     57  29.772179  95.514203
8            77078     49  29.852397  95.254100
9            77346     47  29.994499  95.177499
10           77041     44  29.858600  95.580768
11           77042     41  29.741325  95.560254
12           77090     38  30.008240  95.438996
13           77077     32  29.750233  95.615383
14           77028     31  29.827869  95.287485
15           77581     29  29.561554  95.279739
16           77070     23  29.979648  95.572877
17           77068     19  30.007063  95.488362
18           77089     17  29.586959  95.225601
19           77096     16  29.675339  95.479372
20           77073     15  29.999166  95.400119
21           77015     13  29.763930  95.173121
22           77025     13  29.685706  95.434764
23           77013     12  29.795268  95.233977
24           77063     11  29.736295  95.523292
25           77069     11  29.988455  95.531200

In [123]:
print(rating)

0       1.0
1       1.0
2       1.0
3       1.0
4       3.0
5      12.0
6      13.0
7       4.0
8       3.0
9       1.0
10      4.0
11      4.0
12      1.0
13     57.0
14     13.0
15      3.0
16      1.0
17     31.0
18      2.0
19      1.0
20      4.0
21      4.0
22      4.0
23      7.0
24      5.0
25      2.0
26      8.0
27     44.0
28     41.0
29      2.0
      ...
49    134.0
50      1.0
51      1.0
52     17.0
53     38.0
54      3.0
55      2.0
56      7.0
57      2.0
58     16.0
59      1.0
60    147.0
61      5.0
62     47.0
63      9.0
64    249.0
65      7.0
66      5.0
67    211.0
68    206.0
69      5.0
70     29.0
71      2.0
72     61.0
73     46.0
74     12.0
75     42.0
76      2.0
77      1.0
78    127.0
Name: count, Length: 79, dtype: float64